NET SYS_CLK LOC = T8 | TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 50000 kHz;

NET LED1		LOC = P4 | IOSTANDARD = "LVCMOS33";
NET LED2		LOC = N5 | IOSTANDARD = "LVCMOS33";

NET UART_RX	LOC = C11 | IOSTANDARD = "LVCMOS33";
#NET UART_TX	LOC = D12 | IOSTANDARD = "LVCMOS33";

NET SMG_DATA<0>	LOC = C7 | IOSTANDARD = "LVCMOS33";
NET SMG_DATA<1>	LOC = E6 | IOSTANDARD = "LVCMOS33";
NET SMG_DATA<2>   LOC = C5 | IOSTANDARD = "LVCMOS33";
NET SMG_DATA<3>	LOC = F7 | IOSTANDARD = "LVCMOS33";
NET SMG_DATA<4>	LOC = D6 | IOSTANDARD = "LVCMOS33";
NET SMG_DATA<5>	LOC = E7 | IOSTANDARD = "LVCMOS33";
NET SMG_DATA<6>	LOC = D5 | IOSTANDARD = "LVCMOS33";
NET SMG_DATA<7>	LOC = C6 | IOSTANDARD = "LVCMOS33";

NET SCAN_SIG<5>	LOC = D9 | IOSTANDARD = "LVCMOS33";
NET SCAN_SIG<4>	LOC = E10 | IOSTANDARD = "LVCMOS33";
NET SCAN_SIG<3>	LOC = F10 | IOSTANDARD = "LVCMOS33";
NET SCAN_SIG<2>	LOC = F9 | IOSTANDARD = "LVCMOS33";
NET SCAN_SIG<1>	LOC = E8 | IOSTANDARD = "LVCMOS33";
NET SCAN_SIG<0>	LOC = D8 | IOSTANDARD = "LVCMOS33";